.popup__input {
  outline: none;
  width: 358px;
  border: none;
  cursor: text;
  border-bottom: 1px solid rgba(0, 0, 0, .2);
  font-style: normal;
  font-size: 14px;
  line-height: 1.214;
}

@media screen and (max-width: 560px) {
  .popup__input {
    width: 238px;
  }
}

.popup__input.popup__input_type_error {
  border-bottom: 1px solid #ff0000;
}